*.log
.DS_Store
.env
**/.env
.env.backup
.env.production
.phpactor.json
.phpunit.result.cache
/.fleet
/.idea
/.nova
/.phpunit.cache
/.vscode
/.zed
/auth.json
node_modules/
**/node_modules/
backend/vendor/
backend/storage/*.key
backend/storage/pail
backend/bootstrap/cache/
backend/public/storage
backend/public/build
backend/public/hot
frontend/dist/
Homestead.json
Homestead.yaml
Thumbs.db

